


.homeForm {
    background-color:#14213D;
    padding: 5% 10%;
    margin: 0px 50px;
    border-radius: 7px;
}

.button:hover{
    background-color: #FCA311;
}
.button {
    padding: 5px;
    background-color: #E5E5E5;
}

.inputText {
    background-color: #E5E5E5;
}

#label {
    font-size: 20px;
    margin: 15px;
}

#legend {
    font-weight: bolder;
    font-size: 30;
    margin-bottom: 30px;
}

#heroImg {
    font-size: 10px;
    font-weight: light; 
}