#aboutBox {
    position: absolute;
    background-color: #cccccc;
    height: 60vh;
    width: 80vh;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}