/* Some button Styling  from https://moderncss.dev/css-button-styling-guide/ */

.button:hover {
  transition: 220ms all ease-in-out;
  background-color: var(--blue-2);
  color: var(--platinum);
  cursor: pointer;
}

.button:focus {
  outline-style: solid;
  outline-color: var(--orange-accent);
  border: solid 3px var(--orange-accent);
  background-color: var(--blue-2);
  color: var(--platinum);
}

.button {
  font-family: inherit;
  background-color: var(--white);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  border: solid 3px var(--blue-2);
  border-radius: 10px;
  color: var(--blue-2);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 0.4em 0.75em;
  height: 4em;
}
