@import "./template.css";
@import "./general.css";

.homeContainer {
  background-color: var(--platinum);
  box-shadow: 1px 1px 5px var(--black-shadow);
  border: 1px solid var(--black-shadow);
  border-radius: 10px;
  max-width: 700px;
  min-width: 500px;
  width: 50%;
  max-height: 300px;
  min-height: 200px;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.homeForm {
  padding: 0px 30px 0px 30px;
  max-width: 700px;
  min-width: 200px;
  width: calc(100% - 60px);
  grid-template-columns: 80px 1fr 1fr;
  grid-template-rows: 3em 3em;
  display: grid;
  align-items: center;
  grid-gap: 1em;
}

.inputText {
  background-color: var(--white);
  grid-column: 2/4;
  border-radius: 10px;
  height: 2em;
  font-size: 20px;
}

.showAllBtn {
  grid-column: 2/3;
}

#label {
  font-size: 20px;
  margin: 15px;
}

#legend {
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 5vh;
  margin-top: 1vh;
}

#heroImg {
  font-size: 1em;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  position: absolute;
  font-weight: light;
  color: var(--platinum);
  text-shadow: 2px 2px 4px var(--black-shadow);
}
