<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

  <main class="book">
    <section class="pagecontent">
      Welcome <%= user.details.firstname %>
        <%= user.details.lastname %>
    </section>
  </main>
</body>

</html>