@import "./template.css";
@import "./general.css";

mark {
  background-color: yellow;
  padding: 0;

}

.playDetails {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10vh 50px calc(85vh - 50px);
  margin: 3px 10%;
  border-radius: 5px;
}

.playDetailsMain,
.playText {
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100%;
  height: calc(85vh - 50px);
}

.title,
.synopsis,
.detailItems,
.playCharacters,
.textForm,
.scriptText {
  background-color: var(--platinum);
  border-radius: 5px;
}

.playText {
  grid-column: 2 / span 3;
  position: relative;
  height: calc(85vh - 50px);
}

.formArea form div.form {
  display: flex;
  flex-direction: column;
}

div.scriptText {
  position: relative;
  height: 100%;
  padding: 10px;
}

div.scriptText h1 {
  padding-bottom: 5px;
}

section.scriptText {
  overflow: auto;
  position: relative;
  height: calc(85vh - 84px);
}

.formArea form div.form label {
  padding-top: 10px;
  padding-bottom: 5px;
}

.detailItems {
  position: relative;
  height: calc(85vh - 50px - 45px);
}

.react-tabs__tab {
  color: white;
}

.title {
  grid-column: 1 / span 4;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.title h2 {
  padding-left: 10px;
  margin-bottom: 0px;
}

.synopsis,
.textForm {
  position: relative;
  height: 100%;
}

.synopsis div,
.textForm div {
  padding: 10px;
}

.synopsis button,
.textForm button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 7em;
}

.textForm div {
  padding: 10px;
}

#searchTerm input {
  width: 98%;
}

.title {
  grid-column: 1 / span 4;
}

.webIcon {
  width: 35px;
  height: 35px;
  margin: 3px;
  padding: 2px;
}

.webIcon:hover {
  padding: 0px;
  border: 2px solid var(--orange-accent);
  background-color: var(--orange-accent);
}

.webLinks {
  display: flex;
  flex-direction: row;
}

.playCharacters {
  position: relative;
  height: 100%;
  overflow: auto;
}

.playCharactersTable {
  padding-right: 8px;
  position: relative;
  height: calc(100% - 58px);
  padding: 10px;
}

.playCharactersTable table th {
  position: -webkit-sticky;
  position: sticky;
  padding-top: 5px;
  top: 0px;
  z-index: 1;
  background: var(--platinum);
}

.detailsAndChar {
  height: calc(85vh - 50px);
}
.detailsAndChar .react-tabs {
  height: calc(85vh - 50px);
}

.react-tabs__tab-list:nth-child(2) {
  height: calc(85vh - 50px - 40px);
}

.react-tabs__tab-panel {
  height: calc(85vh - 50px - 40px);
}

.playDetailsTab {
  padding: 10px;
}

.closeButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/*! favorites Styles */
.playDetails .favorites {
  grid-column: 1 / span 2;
  background-color: var(--platinum);
  padding: 15px 20px;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
}

.collapseFavs .favorites .hideFavs {
  display: none;
}

.collapseFavs {
  grid-template-columns: 50px 3fr;
}

.collapseFavs .favorites .hideFavs {
  display: none;
}
.collapseFavs .favoriteCollapseButton svg {
  top: 25%;
  transform: scaleX(-1);
}

.collapseFavs .favoriteCollapseButton:hover svg {
  transition: 220ms all ease-in-out;
  top: 25%;
  transform: scaleX(1);
}

.tableArea {
  margin-right: 10px;
  height: 100%;
}

.favoriteCollapseButton {
  position: absolute;
  height: 50px;
  background-color: var(--blue-2);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 10px 0 0 10px;
}

.favoriteCollapseButton:hover {
  transition: 220ms all ease-in-out;
  position: absolute;
  height: 50px;
  background-color: var(--blue-1);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.favoriteCollapseButton svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.favoriteCollapseButton:hover svg {
  transition: 220ms all ease-in-out;
  fill: var(--orange-accent);
  top: 25%;
  transform: scaleX(-1);
}

.collapseFavs .favoriteCollapseButton svg {
  top: 25%;
  transform: scaleX(-1);
}

.collapseFavs .favoriteCollapseButton:hover svg {
  transition: 220ms all ease-in-out;
  top: 25%;
  transform: scaleX(1);
}

.sadbutton {
  background-color: rgb(169, 169, 169);
  border: solid 3px rgb(69, 69, 69);
  color: rgb(69, 69, 69);
}

.sadbutton:hover {
  background-color: rgb(100, 100, 100);
  cursor: not-allowed;
}

.sadbutton:focus {
  outline-style: solid;
  border: solid 3px rgb(255, 100, 100);
  color: rgb(255, 100, 100);
  outline-color: rgb(255, 100, 100);
  background-color: rgb(100, 100, 100);
}

.outer {
  grid-column: 2 / span 3;
}
