@import "./template.css";
@import "./general.css";

.playBrowser {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10vh 180px calc(85vh - 180px);
  margin: 3px 5%;
}

select {
  background-color: var(--white);
  border-radius: 10px;
  height: 2em;
}

.titleDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.inputText {
  width: 99%;
  height: 20px;
  font-size: 14px;
}

.inputYear {
  background-color: var(--white);
  grid-column: 2/4;
  border-radius: 10px;
  height: 20px;
  margin: 5px;
  width: 10%;
}

.header,
.favorites,
.playFilters,
.playList {
  background-color: var(--platinum);
  padding: 15px 20px;
  border-radius: 5px;
}

.header {
  grid-column: 1 / span 4;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}

.moreFilters:hover {
  cursor: pointer;
}

.after {
  display: block;
}

.filter {
  display: flex;
  flex-direction: row;

  align-self: center;
}

.clickedForm {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 10px;
}

.playFilters {
  grid-row: 2/3;
  grid-column: 1 / span 4;
}

.filterResults {
  padding-top: 10px;
  color: var(--blue-2);
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.playList {
  grid-column: 2 / span 3;
  position: relative;
}

.favorites {
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
}

.favoriteHeartOutline svg:hover {
  transition: 220ms all ease-in-out;
  fill: var(--orange-accent);
  cursor: pointer;
}
.favoriteHeartSolid svg:hover {
  transition: 220ms all ease-in-out;
  fill: var(--orange-accent);
  cursor: pointer;
}
.favoriteHeartOutline svg,
.favoriteHeartSolid svg {
  vertical-align: middle;
}

td > * {
  vertical-align: middle;
}

td {
  padding: 5px;
}

.playItem {
  border-top: 1px solid white;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.listTitle,
.listYear {
  font-weight: bold;

  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.listTitle p span,
.listYear p span {
  text-decoration: underline;
}

.listTitle {
  text-align: left;
  cursor: pointer;
}

.listItemYear {
  text-align: left;
}

.listYear {
  text-align: left;
  width: 4em;
}

.viewbtn {
  width: 6em;
}

.singleViewButton {
  width: 6em;
}

.favbtn {
  width: 2em;
}

.favDelete svg {
  vertical-align: middle;
}

.favDelete svg:hover {
  transition: 220ms all ease-in-out;
  fill: var(--orange-accent);
  cursor: pointer;
}

.favItem {
  border-top: 1px solid white;
}

.playListTable {
  height: calc(100% - 18px);
  overflow: auto;
  padding-right: 5px;
}

/* from https://stackoverflow.com/questions/4709390/table-header-to-stay-fixed-at-the-top-when-user-scrolls-it-out-of-view-with-jque */
.playListTable table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  background: var(--platinum);
}

/* from https://stackoverflow.com/questions/4709390/table-header-to-stay-fixed-at-the-top-when-user-scrolls-it-out-of-view-with-jque */
.favListTable table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  background: var(--platinum);
}

.trashIcon {
  text-align: center;
  width: 30px;
}

.collapseFavs {
  grid-template-columns: 50px 2fr;
}

.collapseFavs .favorites .hideFavs {
  display: none;
}

.tableArea {
  margin-right: 10px;
  height: 100%;
}

.favListTable {
  padding-right: 8px;
  height: calc(100% - 18px);
  overflow: auto;
}

.favoriteCollapseButton {
  position: absolute;
  height: 50px;
  background-color: var(--blue-2);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 10px 0 0 10px;
}

.favoriteCollapseButton:hover {
  transition: 220ms all ease-in-out;
  position: absolute;
  height: 50px;
  background-color: var(--blue-1);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.favoriteCollapseButton svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.favoriteCollapseButton:hover svg {
  transition: 220ms all ease-in-out;
  fill: var(--orange-accent);
  top: 25%;
  transform: scaleX(-1);
}

.collapseFavs .favoriteCollapseButton svg {
  top: 25%;
  transform: scaleX(-1);
}

.collapseFavs .favoriteCollapseButton:hover svg {
  top: 25%;
  transform: scaleX(1);
}

.titleLink:link,
.titleLink:visited,
.titleLink:active {
  color: black;
  text-decoration: none;
}

/* .fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity linear 250ms;
}

.fade-exit {
    opacity: 0;
}

.fade-exit-active {
    opacity: 0.75;    
    transition: opacity linear 750ms;
} */
