@import url("https://fonts.googleapis.com/css?family=Hahmlet");
:root {
  /* CSS Colors from https://coolors.co/121212-14213d-2e4b8a-fca311-e5e5e5-ffffff*/
  --black-shadow: #121212ff;
  --blue-1: #14213dff;
  --blue-2: #2e4b8aff;
  --orange-accent: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
  font-family: Hahmlet;
}
